.search__wrapper {
  box-shadow: 0 0 2px rgba(0 0 0 / 0.15);
  background-color: #fff;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  max-width:20rem;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  input[type="text"] {
    outline: none;
    border: none;
    display: inline-block;
    margin-inline-start: 0.5rem;
  }
}